body{
    background-color: #000;
}
a{
    text-decoration: none;
}
.schedule-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 50px repeat(5,120px);
    gap: 5px;
}
.item{
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.days{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.sundays{
    border: 3px solid rgb(254, 62, 62);
}
.mondays{
    border: 3px solid rgb(241, 54, 241);
}
.tuesdays{
    border: 3px solid rgb(129, 3, 220);
}
.wednesdays{
    border: 3px solid rgb(13, 13, 219);
}
.thursdays{
    border: 3px solid rgb(9, 206, 9);
}
.fridays{
    border: 3px solid rgb(210, 210, 63);
}
.saturdays{
    border: 3px solid orange;
}
.subjects{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item a{
    transition: all 0.3s ease-in;
}
.item a:hover{
    scale: 1.1;
}
.cst{
    background-color: #fff4e6;
}
.civil{
    background-color:  #fe9c8f;
}
.mech{
    background-color: #fed766;
}
.elec{
    background-color:  #ffbbee;
}
@media(max-width:992px) and (min-width:768px){
    .days{
        font-size: 20px;
    }
    .subjects{
        font-size: 13px;
    }

}
@media(max-width:768px) and (min-width:576px){
    .days{
        font-size: 15px;
    }
    .subjects{
        font-size: 10px;
    }
    .item{
        border-radius: 7px;
    }
    .schedule-container{
        grid-template-rows: 30px repeat(5,100px);
        gap: 3px;
    }
    .sundays{
        border: 2px solid rgb(254, 62, 62);
    }
    .mondays{
        border: 2px solid rgb(241, 54, 241);
    }
    .tuesdays{
        border: 2px solid rgb(129, 3, 220);
    }
    .wednesdays{
        border: 2px solid rgb(13, 13, 219);
    }
    .thursdays{
        border: 2px solid rgb(9, 206, 9);
    }
    .fridays{
        border: 2px solid rgb(210, 210, 63);
    }
    .saturdays{
        border: 2px solid orange;
    }
}
@media(max-width:576px){
    .days{
        font-size: 10px;
    }
    .subjects{
        font-size: 7px;
    }
    .item{
        border-radius: 5px;
    }
    .schedule-container{
        grid-template-rows: 25px repeat(5,70px);
        gap: 3px;
    }
    .sundays{
        border: 1px solid rgb(254, 62, 62);
    }
    .mondays{
        border: 1px solid rgb(241, 54, 241);
    }
    .tuesdays{
        border: 1px solid rgb(129, 3, 220);
    }
    .wednesdays{
        border: 1px solid rgb(13, 13, 219);
    }
    .thursdays{
        border: 1px solid rgb(9, 206, 9);
    }
    .fridays{
        border: 1px solid rgb(210, 210, 63);
    }
    .saturdays{
        border: 1px solid orange;
    }
}
/*-----------------------*/
.topics-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.branch{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
    border: 2px solid blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.box1{
    background-color: #fff4e6;
}
.box2{
    background-color: #fe9c8f;
}
.box3{
    background-color: #ffbbee;
}
.box4{
    background-color: #fed766;
}

@media(max-width:1259px) and (min-width:992px){
    .branch{
        font-size: 15px;
    }
}
@media(max-width:992px) and (min-width:768px){
    .topics-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .branch{
        font-size: 15px;
    }
}
@media(max-width:768px) and (min-width:576px){
    .topics-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .branch{
        font-size: 12px;
    }
}
@media(max-width:576px){
    .topics-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .branch{
        font-size: 10px;
    }
}